body {
    background-color: #5db9ff;
    font-family: rubik;
    color: white;
    text-align: center;
}

header {
    display: inline;
    border: 1px solid red;
}

#logo {
    display: inline;
    height: 6rem;
    width: auto;
    padding: 1rem ;
    border: 1px solid red;
}

.enter-button {
    text-align: center;
    margin: auto;
    display: inline;
    border: 1px solid red;

}

h1 {
    font-size: 4rem;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin: auto;
    width: 60%;
}

h2 {
    font-family: 3rem;
    color: #383838;
    font-family: play;
}

h3 {
    color: #383838;
    font-family: play;
}

h4 {
    color: #383838;
    font-family: play;
}

img {
    height: 3rem;
    width: auto;
}

.yellow-mart {
    background-color: #F4DF9D;
    padding: 1rem;
    text-align: center;
    border-radius: 10%;
    display: none;
}

.orange-mart {
    background-color: #F2CA9C;
    padding: 1rem;
    text-align: center;
    border-radius: 10%;
} 

.yellow-mart:hover {
    animation: bounce 0.5s linear;
    }

.orange-mart:hover {
    animation: bounce 0.5s linear;
    }

@keyframes bounce {
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(0px;)
    }
}


.mart {
    padding-top: 1rem;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.hidden-mart {
    visibility: hidden;
}


/* #fbd743-yellow, #363b81 dark blue/violet */
/* F2CA9C orange/  F4DF9D pokemart yellow /pokemart green 9CE8B2*/

/* .flip-card-inner {

    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  /* .flip-card-front, .flip-card-back {
    position: absolute;
    width: 90%;
    height: 90%;
    -webkit-backface-visibility: hidden; /* Safari */
    /* backface-visibility: hidden;
  }
   */
  /* Style the front side (fallback if image is missing) */
  /* .flip-card-front {
    background-color: #F4DF9D;
    padding: 1rem;
    text-align: center;
    border-radius: 10%;
  } */
  
  /* Style the back side */
  /* .flip-card-back {
    border-radius: 10%;
    background-color: #F2CA9C;
    color: white;
    transform: rotateY(180deg);
  } */